<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Progress top</title>
  </head>
  <body>
    <h1>Progress top</h1>
    <p>Message: <%=msg %></p>
    <ul>
      <li><a href="<%=baseUrl %>/progress/progress">進捗</a></li>
    </ul>
    <p><a href="<%=baseUrl %>/">Back to research-ground top.</a></p>
  </body>
</html>
