<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Auth</h1>
    <p>Message: <%=msg %></p>
    <ul>
      <li><a href="<%=baseUrl %>/auth/login">ログイン</a></li>
      <li><a href="<%=baseUrl %>/auth/logout">ログアウト</a></li>
    </ul>
    <p><a href="<%=baseUrl %>/">Back to research-ground top.</a></p>
  </body>
</html>
