<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Auth</h1>
    <p>Message: <%=msg %></p>
    <p>ログインが上手くいかない時で、複数のGoogleアカウントやYahoo! JAPAN IDで
      ログインしているような場合は一度全てのアカウントでログアウトしてから試して
      みて下さい。
    </p>
    <ul>
      <li><a href="https://accounts.google.com/Logout">全てのGoogleアカウントをログアウト</a></li>
      <li><a href="https://accounts.yahoo.co.jp/profile">Yahoo! JAPANの登録情報ページでログアウト</a></li>
    </ul>
    <hr/>
    <ul>
      <li><a href="<%=baseUrl %>/auth/login">ログイン</a></li>
      <li><a href="<%=baseUrl %>/auth/logout">ログアウト</a></li>
    </ul>
    <p><a href="<%=baseUrl %>/">Back to research-ground top.</a></p>
  </body>
</html>
