<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>ERROR</h1>
    <pre>Message: <%=message %></pre>
    <p><a href="../">research-ground top.</a></p>
  </body>
</html>
