<!DOCTYPE html>
<html>
  <head>
    <%- include("../include/_head", {title: "Logged In"}) %>
  </head>
  <body>
    <%- include("../include/_header") %>
    <h1>Logged In</h1>
    <p>WebID: <%=webid %></p>
    <p><a class="btn wave-effect wave-light" class="btn wave-effect wave-light" href="<%=ret %>">Back</a></p>
  </body>
</html>
