<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include("include/_head", {title: "error"}) %>
  </head>
  <body>
    <h1>an error page</h1>
    <p>Message: <%=msg %></p>
    <p><a href="<%=baseUrl%>/">Back to research-ground top.</a></p>
  </body>
</html>
