<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include("include/_head", {title: "research-ground"}) %>
  </head>
  <body>
    <%- include("include/_header") %>
    <div class="main-wrapper">
    <%- include("include/_nav_main.ejs") %>
      <main>
        <p>Message: <%=msg %></p>
      </main>
    </div>
  </body>
</html>
