<meta charset="UTF-8">
<title><%= title %></title>
<base href="<%= baseUrl %>">
<link rel="stylesheet" href="css/materialize.min.css">
<link rel="stylesheet" href="css/research-ground.css">
<script src="js/materialize.min.js"></script>
<style>
select {
  display: block;
}
</style>