<meta charset="UTF-8">
<title><%= title %></title>
<link rel="stylesheet" href="/css/materialize.min.css">
<link rel="stylesheet" href="/css/research-ground.css">
<script src="/js/materialize.min.js"></script>
<script src="/js/research-ground.js"></script>