<div class="menu-wrapper">
    <ul class="menu collection">
        <li class="collection-item">
            <a href="/auth">auth</a>
        </li>
        <li class="collection-item">
            <a href="/files">files</a>
        </li>
        <li class="collection-item">
            <a href="/admin">admin</a>
        </li>
        <li class="collection-item">
            <a href="/marking">marking</a>
        </li>
        <li class="collection-item">
            <a href="/progress">progress</a>
        </li>
    </ul>
</div>