<div class="menu-wrapper">
    <div class="menu collection">
        <a href="/auth" class="collection-item">auth</a>
        <a href="/files" class="collection-item">files</a>
        <a href="/admin" class="collection-item">admin</a>
        <a href="/marking" class="collection-item">marking</a>
        <a href="/progress" class="collection-item">progress</a>
    </div>
</div>