<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Statistics</title>
  </head>
  <body>
    <h1>Statistics</h1>
    <p>Message: <%=msg %></p>
    <p><a href="<%=baseUrl %>/">Back to research-ground top.</a></p>
  </body>
</html>
